@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Work Sans', sans-serif;
}

@layer base {
  :root {
    --bg-background: #4F5262;
    --background: 253 44% 98%;
    --foreground: 253 58% 0%;
    --muted: 253 7% 87%;
    --muted-foreground: 253 13% 37%;
    --popover: 253 44% 98%;
    --popover-foreground: 253 58% 0%;
    --card: 253 44% 97%;
    --card-foreground: 0 0% 0%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 253 91% 58%;
    --primary-foreground: 253 91% 98%;
    --secondary: 253 5% 89%;
    --secondary-foreground: 253 5% 29%;
    --accent: 253 12% 82%;
    --accent-foreground: 253 12% 22%;
    --destructive: 339.2 90.36% 51.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 253 91% 58%;
    --chart-1: 253 91% 58%;
    --chart-2: 253 5% 89%;
    --chart-3: 253 12% 82%;
    --chart-4: 253 5% 92%;
    --chart-5: 253 94% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 253 43% 3%;
    --foreground: 253 31% 98%;
    --muted: 253 7% 13%;
    --muted-foreground: 253 13% 63%;
    --popover: 253 43% 3%;
    --popover-foreground: 253 31% 98%;
    --card: 253 43% 4%;
    --card-foreground: 253 31% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 253 91% 58%;
    --primary-foreground: 253 91% 98%;
    --secondary: 253 7% 9%;
    --secondary-foreground: 253 7% 69%;
    --accent: 253 13% 14%;
    --accent-foreground: 253 13% 74%;
    --destructive: 339.2 90.36% 51.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 253 91% 58%;
    --chart-1: 253 91% 58%;
    --chart-2: 253 7% 9%;
    --chart-3: 253 13% 14%;
    --chart-4: 253 7% 12%;
    --chart-5: 253 94% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    background-color: #1b1d29;
  }
}


/* Responsive */

@media only screen and (max-width: 870px) {
  .header {
    padding-left: 40px;
    padding-right: 50px;
  }

  #genreSelector {
    display: none;
  }

  #searchBar {
    display: none;
  }

  #menu {
    display: flex;
  }

  #userGreeting {
    display: none;
  }

  /* Profile */

  #subContainer {
    padding: 0 40px 0 40px;
    width: 100vw;
  }

  #subCard {
    width: auto;
  }

  /* Footer */

  #footerPar {
    width: 70%;
  }

}


@media only screen and (max-width: 600px) {
  #card-container {
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
    height: 600px;
  }

  #card-container img {
    width: 60%;
  }

  #card-container p {
    font-size: 14px;
  }

  .card-child {
    margin: 150px 0 0 0;
  }

  #card-about {
    width: 100%;
  }

  /* Footer */

  #footer ul {
    font-size: 12px;
  }

  #footer p {
    font-size: 12px;
  }
}