@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Work Sans', sans-serif;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --white: #ffffff;
    --foreground: #ff5b00;
    --muted: #f3d9eb;
    --muted-foreground: #4a4a2f;
    --popover: #f9e6c3;
    --popover-foreground: #ff5b00;
    --card: #f9e6f3;
    --card-foreground: #000000;
    --border: #d1d9e1;
    --input: #d1d9e1;
    --primary: #ffdb93;
    --primary-foreground: #f9e6c3;
    --secondary: #f1c7e8;
    --secondary-foreground: #5b0d29;
    --accent: #f5aabb;
    --accent-foreground: #660b1d;
    --destructive: #d74673;
    --destructive-foreground: #ffffff;
    --ring: #f5c518;
    --chart-1: #ffdb93;
    --chart-2: #f1c7e8;
    --chart-3: #f5aabb;
    --chart-4: #f1c1e7;
    --chart-5: #ffec93;
    --radius: 0.5rem;
  }

  .dark {
    --background: #2c2f34;
    --foreground: #e3e5f5;
    --muted: #3f232f;
    --muted-foreground: #715e76;
    --popover: #2c2f34;
    --popover-foreground: #e3e5f5;
    --card: #2c2f34;
    --card-foreground: #e3e5f5;
    --border: #3e2d1d;
    --input: #3e2d1d;
    --primary: #ffdb93;
    --primary-foreground: #f9e6c3;
    --secondary: #3f232f;
    --secondary-foreground: #4a715e;
    --accent: #3f232f;
    --accent-foreground: #e3c074;
    --destructive: #d74673;
    --destructive-foreground: #ffffff;
    --ring: #ffdb93;
    --chart-1: #ffdb93;
    --chart-2: #3f232f;
    --chart-3: #3f232f;
    --chart-4: #3f232f;
    --chart-5: #ffec93;
  }
}




body {
  background-color: #1b1d29;
}